.App {
  text-align: center;
}

/*
HEADER STYLE
*/
header {
  display: block;
  background:black;
  position: relative;
  padding: 0;
}

.logo a {
  color: white;
  float: left;
  font-weight: bold;
  font-size: large;
}

nav {
  text-align: right;
}

nav ul,
nav ul li {
  padding: 20px;
} 

nav li a {
  color: white;
  font-weight: bold;
}

header nav ul li {
    list-style-type: none;
    display: inline;
}

.banner {
  width: 100%;
  display: block;
}

.banner .banner-image {
  width: 100%;
  display: block;
}



/*
BODY STYLE
*/
body {
  position: relative;
}

/*
FOOTER STYLE
*/
footer {
  position: relative;
}

